@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Rubik&display=swap');


/*https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js*/
* {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: rgb(26, 26, 26);
}

header {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 2.5em;
    margin: 0.75em;
    padding-top: 0.5em;

    text-shadow:
        0 0 9px #fff,
        0 0 10px #fff,
        0 0 15px #fff;

}

a {
    text-decoration: none;
    color: #ffffff;
}

#header-div {
    background-color: rgb(88, 88, 88);
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 1em;
}

#subheader-text {
    text-align: center;
    padding: 0.5em;
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 1em;
    cursor: pointer;
}

li {
    text-align: center;
    list-style-type: none;
    margin: 1em;
}

button {
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.75em;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
}

ul {
    display: flex;
    justify-content: center;
}

footer {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1em;
    margin: 0.1em;
    padding: 0.8em;
    background-color: rgb(88, 88, 88);
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 1em;
}

.button-link {
    font-family: 'Rubik', sans-serif;
    color: black;
}

.wave-animation {
    animation: wave 1s linear;
}

@keyframes wave {
    0% {
        transform: translateX(0);
        color: red;
    }
    25% {
        transform: translateX(20%);
        color: orange;
    }
    50% {
        transform: translateX(0%);
        color: yellow;
    }
    75% {
        transform: translateX(-20%);
        color: green;
    }
    100% {
        transform: translateX(0);
        color: blue;
    }
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit, #stay, #refresh {
    width: 100px;
    height: 50px;
    font-size: 1em;
}

section {
    text-align: center;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-style: oblique;
    color: white;
}

#icons {
    text-align: center;
}